<launch>
    <rosparam file="$(find ur5_moveit)/config/params.yaml" command="load"/>
    <node name="server_endpoint" pkg="ros_tcp_endpoint" type="default_server_endpoint.py" args="--wait" output="screen" respawn="true" />
    <node name="mover" pkg="ur5_moveit" type="mover.py" args="--wait" output="screen"/>
    <include file="$(find ur5_moveit)/launch/demo_planning_execution.launch" />
</launch>